<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <button id="edit-id">Edit</button>

    <form action="#" id=" "form-user>
    <section id="form">
        <label for="">Id</label>
        <input type="text" id="input-edit-id">
        <label for="" >Name</label>
        <input type="text" id="input-name"/>
        <label for="" >CPF</label>
        <input type="number"  id="input-cpf"/>
        <label for="" >Birthdate</label>
        <input type="date" id="input-birthdate"/>
        <label for="" >Email</label>
        <input type="email" id="input-email"/>
        <label for="" >Password</label>
        <input type="password" id="input-password"/>
        <label for="" >Adress</label>
        <input type="text" id="input-adress"/>
        <label for="" >Number</label>
        <input type="number" id="input-number"/>
        <label for="" >Complement</label>
        <input type="text" id="input-complement"/>
        <label for="" >City</label>
        <input type="text" id="input-city"/>
        <label for="" >State</label>
        <input type="text" id="input-state"/>
        <label for="" >Country</label>
        <input type="text" id="country"/>
        <label for="" >Zipcode</label>
        <input type="number" id="input-zipcode"/>
        <label for=""></label>
        <input type="submit" id="edit-user" value="Confirm Edition">
        </section>
    <button id="delete-user">Delete User</button>
    </form>
</body>
</html>
