html,body{
  margin: 0;
  margin-left: 8px;
}

#search{
  margin-bottom: 20px;
}

/* #submit{
  width: 8px;
} */

#form{
  display: flex;
  flex-direction: column;
  width: 50%;
}

name {
  color: red;
}